button(type="button", id="vinter-btn-create-flow", class="btn-principal", title="Criar novo fluxo") CREATE
button(type="button", id="vinter-btn-load-flow", class="btn-principal", title="Carregar fluxo existente") LOAD
button(type="button", id="vinter-btn-create-say", class="btn-principal", title="Definir fala do AVI") SAY
button(type="button", id="vinter-btn-create-form", class="btn-principal", title="Criar formulário") FORM
button(type="button", id="vinter-btn-create-decision", class="btn-principal", title="Estrutura de decisao") DECISION
button(type="button", id="vinter-btn-create-question", class="btn-principal", title="Solicitar informação") QUESTION
button(type="button", id="vinter-btn-create-service-call", class="btn-principal", title="Executar serviço") SERVICE
button(type="button", id="vinter-btn-create-control-manager", class="btn-principal", title="Habilitar ou desabilitar caixa de texto") CONTROLS
button(type="button", id="vinter-btn-create-memory", class="btn-principal", title="Gravar na memoria") MEMORY
button(type="button", id="vinter-btn-create-custom-code", class="btn-principal", title="Código customizado") CODE
button(type="button", id="vinter-btn-create-disconnect", class="btn-principal", title="Desconectar sessão") DISCONNECT
button(type="button", id="vinter-btn-create-escalate", class="btn-principal", title="Transferir para operador humano") ESCALATE
button(type="button", id="vinter-btn-show-json", class="btn-principal", title="Exibir json do fluxo") JSON