button(type="button", id="vinter-btn-create-flow", class="btn-principal") CREATE
button(type="button", id="vinter-btn-load-flow", class="btn-principal") LOAD
button(type="button", id="vinter-btn-create-say", class="btn-principal") SAY
button(type="button", id="vinter-btn-create-form", class="btn-principal") FORM
button(type="button", id="vinter-btn-create-decision", class="btn-principal") DECISION
button(type="button", id="vinter-btn-create-question", class="btn-principal") QUESTION
button(type="button", id="vinter-btn-create-service-call", class="btn-principal") SERVICE
button(type="button", id="vinter-btn-create-control-manager", class="btn-principal") CONTROLS
button(type="button", id="vinter-btn-create-memory", class="btn-principal") MEMORY
button(type="button", id="vinter-btn-create-custom-code", class="btn-principal") CODE
button(type="button", id="vinter-btn-create-disconnect", class="btn-principal") DISCONNECT
button(type="button", id="vinter-btn-create-escalate", class="btn-principal") ESCALATE
button(type="button", id="vinter-btn-show-json", class="btn-principal") JSON