button(type="button", id="vinter-btn-create-flow") CREATE
button(type="button", id="vinter-btn-create-say") SAY
button(type="button", id="vinter-btn-create-form") FORM
button(type="button", id="vinter-btn-create-decision") DECISION
button(type="button", id="vinter-btn-create-question") QUESTION
button(type="button", id="vinter-btn-create-service-call") SERVICE
button(type="button", id="vinter-btn-create-control-manager") CONTROLS
button(type="button", id="vinter-btn-create-memory") MEMORY
button(type="button", id="vinter-btn-create-custom-code") CODE
button(type="button", id="vinter-btn-create-disconnect") DISCONNECT
button(type="button", id="vinter-btn-create-escalate") ESCALATE
button(type="button", id="vinter-btn-create-question-yn") YES/NO
button(type="button", id="vinter-btn-undo") UNDO
button(type="button", id="vinter-btn-redo") REDO
button(type="button", id="vinter-btn-show-json") JSON