div(class="modal", id="vinter-modal-edit-service")
    div(class="modal-content")
        span(class="close", id="close-edit-service") &times;
        form
            fieldset(class="editor-field")
                label(for="serviceName") ServiceName:
                input(type="text", id="edit-servicename")
            button(type="button", id="add-input") ADD INPUT
            div(id="service-input-fields")
            button(type="button", id="add-output") ADD OUTPUT
            div(id="service-output-fields")
            fieldset(class="vinter-btn-confirm")
                button(type="button", id="vinter-btn-confirm-edit-service") EDIT