div(class="modal", id="vinter-modal-edit-decision")
    div(class="modal-content")
        span(class="close", id="close-edit-decision") &times;
        form
            fieldset(class="editor-field", id="vinter-div-decision-rule")
            fieldset(class="vinter-btn-confirm")
                button(type="button", id="vinter-btn-add-decision-rule") ADD RULE
                button(type="button", id="vinter-btn-edit-decision") EDIT
                button(type="button", id="vinter-btn-confirm-delete-decision", class="btn-delete") DELETE