div(class="modal", id="vinter-modal-edit-question")
    div(class="modal-content")
        span(class="close", id="close-edit-question") &times;
        h2 Question Answer Edit
        div
            label(for="utterance") Pergunta:
            input(type="text", id="edit-question-utterance", class="flow-field utt")
        button(type="button", id="vinter-btn-add-option", class="btn-form-field") ADD OPTION
        div(class="question-option", id="vinter-div-question-option")
        button(type="button", id="vinter-btn-add-rule", class="btn-form-field") ADD VALIDATION RULE
        div(class="question-rule", id="vinter-div-question-rule")
        button(type="button", id="vinter-btn-edit-question", class="btn-create") EDIT
        button(type="button", id="vinter-btn-confirm-delete-question", class="btn-delete") DELETE
