div(class="modal", id="vinter-modal-edit-ccode")
    div(class="modal-content")
        span(class="close", id="close-edit-ccode") &times;
        h3 Editor
        textarea(id="ccode", cols="30", rows="10")
        div(class="vinter-btn-confirm")
                button(type="button", id="vinter-btn-confirm-edit-ccode") EDIT