div(class="modal", id="vinter-load-json")
    div(class="modal-content")
        span(class="close", id="close-load") &times;
        textarea(cols="80", rows="25", id="the-json")
        button(type="button", id="vinter-btn-load-json") LOAD