div(class="modal", id="vinter-modal-load-storage")
    div(class="modal-content")
        span(class="close", id="close-load-storage") &times;
        div
            span Existe um fluxo em andamento. Deseja recarrega-lo?
            button(type="button", id="vinter-btn-sim", class="btn-create") SIM
            button(type="button", id="vinter-btn-nao", class="btn-create") NAO