div(class="modal", id="vinter-modal-new-flow")
    div(class="modal-content")
        span(class="close", id="close-new-flow") &times;
        form(id="new-flow")
        h2 New Flow
        div
            label(for="name") Name:
            input(type="text", id="new-flow-name")
        div
            label(for="id") ID:
            input(type="text", id="new-flow-id")
        div(class="vinter-btn-confirm")
            button(type="button", id="vinter-btn-confirm-create-flow") CREATE