div(class="modal", id="vinter-modal-new-flow")
    div(class="modal-content")
        span(class="close", id="close-new-flow") &times;
        h2 New Flow
        label(for="name") Name:
        input(type="text", id="new-flow-name", class="flow-field")
        label(for="id") ID:
        input(type="text", id="new-flow-id", class="flow-field")
        div
            button(type="button", id="vinter-btn-confirm-create-flow", class="btn-create") CREATE
        span(class="flow-error", id="new-flow-error") Ops! Por favor preencha os 2 campos!