div(class="modal", id="vinter-modal-show-json")
    div(class="modal-content")
        span(class="close", id="close-show-json") &times;
        div(class="vinter-json")
            pre
                code(class="JSON", id="json-content")