html(lang="en")
    head
        title Editor de Fluxos
        meta(charset="UTF-8") 
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(href="css/app.css", rel="stylesheet")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/jointjs/1.1.0/joint.css", rel="stylesheet")
        link(href="https://cdn.jsdelivr.net/npm/codemirror@5.30.0/lib/codemirror.css", rel="stylesheet")
        link(href="https://cdn.jsdelivr.net/npm/codemirror@5.30.0/theme/base16-dark.css", rel="stylesheet")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/dark.min.css", rel="stylesheet")
    body
        h1 Editor de Fluxo
        div(id="cmd-bar")
            include includes/btn-commands.pug
        div(id="vinter-graph")
        include includes/new-flow.pug
        include includes/edit-say.pug
        include includes/show-json.pug
        include includes/edit-form.pug
        include includes/edit-ccode.pug
        include includes/menu-activities.pug
        include includes/edit-question.pug
        script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/json.min.js")
        script(src="https://cdn.jsdelivr.net/npm/codemirror@5.30.0/lib/codemirror.min.js")
        script(src="https://cdn.jsdelivr.net/npm/codemirror@5.30.0/mode/groovy/groovy.js")
        script(src="./bundle.js")